# Python standard ignore patterns

__pycache__/
*.pyc
.env
venv/
.DS_Store

# Byte-compiled / optimized / DLL files
*.py[cod]

# C Extensions
*.so

# Distribution / packaging
.Python
build/
dist/
.egg-info/

# Pytest
.cache/

# Jupyter Notebook
.ipynb_checkpoints/
